

{
import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
}

/*adb5bd*/

.background-color {
success-glow;
}

{  
 font-color: #f1f1f1;
 font-size: 16px font-family: 'Lato', sans-serif';
 font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    margin: auto;
    text-align: left;
}



@import "bootstrap/scss/utilities/api";
This will generate new .text-{color}-{level} utilities for every color and level. You can do the same for any other utility and property as well.



.footer{
text-align: center;
color: success;
sub-color: #EC1E1E;
}

