

<!DOCTYPE html>
<html lang="en-US">
    <html>

        <title>Don't Forget To Log BIRTHDAYS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<link href="/styles.css" rel="stylesheet">


<!-- Table style -->
<style type="text/css"> 
      
    th:tr{ 
        color: #f1f1f1; 
        border: solid-warning-subtle 5px rounded-3; 
        background-color: transparent; 
    } 
    tr:nth-of-type(2n){ 
             
  
    } 
  
    td{ 
        padding: 8px 8px; 
        border: 1px solid transparent; 
    } 
</style> 
  
<body> 
{% block body %}
<div class="header"></div>
<h1>Birthdays</h1>
<div class="container-fluid text-center">
<div class=section>Birthdays</section>
  </div>
<table style="margin: "center" vertical-alignment:"middle"> 
<div class=section> 
<h2>All Birthdays </h2>
<!-- Table headers -->
    <th> 

        <tr style="color: #f1f1f1">     
        <td>Persons Name</td> 
        <td>Birthdate</td>
<form class="form-floating name="input" 
accept-charset="utf-8" action=""/submut" method="POST">
  <input type=name" class="form-control" id="floatingInputGroup1" placeholder="Name" value="name"
autofocus required>
 <label for="floatingInputGroup1">Name</label>
<input type="name" class="form-control is-invalid" id="floatingInputGroup1" placeholder="name" required>
<class="invalid-feedback">
    Please enter a name.
<input type="month" class="form-control"
 id="floatingInputGroup1" placeholder="birthday" 
 value="month" required>
<label for="floatingInputGroup1">Birthday</label>
<input type="month" class="form-control is-invalid" id="floatingInputGroup1" placeholder="birthdate" required>
  <input type="month" class="form-control is-invalid" 
<class="invalid-feedback">
    Please enter a birthday.
 <br><br> </div>
  <div class="center"> 
<button type="button" value="submit" class="btn btn-warning-subtle">Save changes</button>
<button type="button" value="reset" class="btn btn-warning-subtle">Reset</button>

 </div>
</form>
</tr> 
    </th> 
</table>


</div>
<div class="section">

<table margin:"center" vertical-alignment: "middle">
{%extends "index.html" %}




    <h2>All Birthdays</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Birthday</th>
            </tr>
        </thead>
        <tbody>
        <!-- For loop logic of birthdays database -->1
{%for i in range(1, len)%} 
  
<!-- table rows -->
<tr> 
    <td>{{name[i]}</td> 
    <td>{{month[i]}}</td> 
  
{%endfor%} 
  
</tr> 
  
</table> 

{% endblock %}

    
</div></div>
     
  
<br><br><br>
<p><footer class>
Thanks for coming by <sup>JULIE<sup></footer>
<br><br><br></p>
</body></html>

  


























