
{% extends "layout.html" %}
<div container-fluid>
{% blockhead %}
<link href="/static/styles.min.css" type="text/css rel="stylesheet">
{% block title }
 {% endblock %}
 {{% endblock %}}
 (% blockcontent %}
 <class="container-fluid">
 <form class="in-line" action="/quote.html"  method="POST">    
  <div class="mb-3" form-text id="quoteHelp"  h-align="centered">  
  <strong>Get A Stock Quote</strong>
    <input type="text" class="form-control" autofocus
    id="inputSymbol" autocomplete="false" name="symbol" placeholder="NFLX" required></div>
 <div h-align="centered">  
    <button class="btn btn-primary"  data-bs-container="body" data-bs-toggle="popover" data-bs-html="true" 
   data-bs-placement="top" data-bs-content="If not redirected in 5 secs. go to <a href="/quoted.html">Quoted</a> button-type="submit">Get Quote
   </button></div> 
</form>  
</container>


 <script>     
 document.querySelectorAll('[data-bs-toggle="popover"]')
    .forEach(popover => {
      new bootstrap.Popover(popover)
    })

 function setActiveItem() {
    const { hash } = window.location

    if (hash === '') {
      return
    } 
  setActiveItem()
  window.addEventListener('hashchange', setActiveItem)
})()
   
  </script>
      
       
{% endblock %}


    
         
 









